/* Color */
button {
  cursor: pointer; }

.title-h2, .navlist h2, #selectdifficulty h2, #muttersprache h2, #selecttheme h2, #result h2 {
  color: #18181C;
  margin: 0;
  padding: 1rem 0; }
  .title-h2 strong, .navlist h2 strong, #selectdifficulty h2 strong, #muttersprache h2 strong, #selecttheme h2 strong, #result h2 strong {
    color: #697175; }

.content-align, .navlist, #selectdifficulty, #muttersprache, #selecttheme, #result {
  width: 96%;
  margin: 0 auto; }

.ulreset, .navlist ul, #selectdifficulty ul, #muttersprache ul, #selecttheme ul, #words .word-datas, #result .nav-result ul {
  margin: 0;
  padding: 0; }
  .ulreset li, .navlist ul li, #selectdifficulty ul li, #muttersprache ul li, #selecttheme ul li, #words .word-datas li, #result .nav-result ul li {
    list-style: none; }

.btn-navlist, .navlist ul li button, #selectdifficulty ul li button, #muttersprache ul li button, #selecttheme ul li button, #result .nav-result ul li .result-btn {
  background: #FFF;
  border: medium none;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
  padding: 4% 2%;
  box-shadow: 0px 1px 0px rgba(100, 100, 100, 0.5);
  color: #697175;
  vertical-align: middle; }
  .btn-navlist:disabled, .navlist ul li button:disabled, #selectdifficulty ul li button:disabled, #muttersprache ul li button:disabled, #selecttheme ul li button:disabled, #result .nav-result ul li .result-btn:disabled {
    opacity: 0.5; }

.navlist ul li, #selectdifficulty ul li, #muttersprache ul li, #selecttheme ul li {
  margin-bottom: 0.5rem; }

.start-inactive, #muttersprache, #selecttheme, #words, #answer-buttons {
  display: none; }

header.game-screen {
  color: #FFF;
  background: #7A64C6;
  padding: 0.3rem 0;
  text-align: center;
  border-bottom: 2px solid #50427f; }
  header.game-screen h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0.1rem;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    text-shadow: 1px 1px 0 #50427f;
    padding: 0.15rem 0.5rem; }
    header.game-screen h1 a {
      width: 100%; }
  header.game-screen a {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 28%;
    margin-right: 2%;
    color: #FFF;
    background: #50427f;
    border-radius: 3px;
    font-size: 1.3rem;
    line-height: 1;
    text-transform: uppercase;
    padding: 0.32rem 0; }

#selectdifficulty {
  margin-top: 3%; }
  #selectdifficulty ul li button {
    padding: 5%;
    font-size: 2rem; }
    #selectdifficulty ul li button strong {
      float: right;
      font-size: 2rem;
      color: #C5C7D7;
      vertical-align: middle; }
    #selectdifficulty ul li button:disabled strong {
      color: #697175; }

#muttersprache {
  text-align: center; }
  #muttersprache ul li button {
    font-size: 1.8rem; }
    #muttersprache ul li button span {
      width: 35px;
      display: inline-block;
      height: 35px;
      border-radius: 5px;
      vertical-align: middle;
      margin-top: -0.4rem;
      margin-right: 0.5rem;
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat;
      position: relative; }
    #muttersprache ul li button .en {
      background-image: url(../flags/1x1/gb.svg); }
    #muttersprache ul li button .pt {
      background-image: url(../flags/1x1/br.svg); }
    #muttersprache ul li button .rs {
      background-image: url(../flags/1x1/rs.svg); }
    #muttersprache ul li button .es {
      background-image: url(../flags/1x1/es.svg); }
  #muttersprache p {
    color: #18181C;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 0; }
    #muttersprache p a {
      display: block;
      background: #7A64C6;
      text-decoration: none;
      color: #FFF;
      text-transform: uppercase;
      padding: 2% 0;
      letter-spacing: 0.1rem;
      border-radius: 2px;
      box-shadow: 2px 3px 0 #50427f;
      margin: 0 auto;
      width: 96%; }

#selecttheme ul li button strong {
  float: right;
  font-size: 1rem;
  color: #C5C7D7;
  vertical-align: middle; }
#selecttheme ul li button:disabled strong {
  color: #697175; }

#words .score {
  background: #FFF;
  color: #697175;
  font-size: 1.5rem;
  margin: 0;
  padding: 0.2rem 0; }
  #words .score strong {
    color: #C5C7D7; }
#words #word-singular {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  padding: 20% 0;
  padding-bottom: 2rem;
  color: #18181C; }
#words #word-singular.der {
  color: #0084FD; }
#words #word-singular.die {
  color: #DB1013; }
#words #word-singular.das {
  color: #08B83C; }
#words .word-datas {
  font-size: 1.5rem;
  color: #697175; }
  #words .word-datas li {
    margin-bottom: 1rem; }
    #words .word-datas li span {
      display: inline-block;
      vertical-align: middle; }
      #words .word-datas li span i {
        color: inherit; }
  #words .word-datas .word-plural {
    font-style: italic;
    margin-top: 0rem;
    margin-bottom: 2rem;
    color: #52616B; }
  #words .word-datas .word-translate {
    margin-bottom: 0; }
@media (min-width: 992px) {
  #words #word-singular {
    padding: 10% 0; }
  #words .word-datas .word-plural {
    margin-bottom: 0.4rem; }
  #words .word-datas li {
    margin-bottom: 0.4rem; } }

footer.game-screen {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem; }

#answer-buttons .answer-button {
  border: medium none;
  font-weight: bolder;
  width: 6rem;
  margin: 0 0.5rem;
  padding: 1.6rem 0;
  border-radius: 100%;
  font-size: 1.8rem;
  color: #FFF; }
#answer-buttons .der {
  background: #0084FD; }
#answer-buttons .die {
  background: #DB1013; }
#answer-buttons .das {
  background: #08B83C; }

#result h2 {
  padding: 2rem 0;
  text-transform: uppercase;
  font-weight: bold; }
  #result h2 strong {
    margin-right: 0.5rem; }
#result .score-result {
  font-size: 1.8rem; }
  #result .score-result strong {
    color: #50427f; }
  #result .score-result span {
    color: #FFF;
    background: #50427f;
    display: block;
    vertical-align: middle;
    margin: 0.5rem auto;
    width: 4.1rem;
    padding: 0.93rem 0.5rem;
    border-radius: 100%;
    font-weight: bold;
    font-size: 1.5rem; }
#result .nav-result {
  margin-top: 3rem; }
  #result .nav-result ul li {
    margin-bottom: 0.5rem; }
    #result .nav-result ul li .result-btn {
      font-size: 1.75rem;
      padding: 5% 2%; }
      #result .nav-result ul li .result-btn i {
        color: #7A64C6;
        display: inline-block;
        vertical-align: middle;
        margin: 0 1rem;
        font-size: 2rem; }
      #result .nav-result ul li .result-btn span {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase; }
#result .erro {
  font-size: 1.4rem; }
  #result .erro .der {
    color: #0084FD; }
  #result .erro .die {
    color: #DB1013; }
  #result .erro .das {
    color: #08B83C; }

/*# sourceMappingURL=style.css.map */
