button {cursor:pointer;}
header.game-screen {
	color: #F0F5F9;
	background-color: #52616B;
	padding: 0.3rem 0;
	text-align: center;
}

h1 {
	font-size: 1rem;
	font-weight: bold;
	font-family: "PT Sans Narrow";
	margin: 0;
	letter-spacing: 0.1rem;
}

header.game-screen h1 span {margin: 0 0.5rem;}

#play {
	color: #fff;
	background: #8870FF;
	position: absolute;
	left: 50%;
	width: 10rem;
	margin-left: -5rem;
	margin-top: 15rem;
	height: 10rem;
	font-size: 5rem;
	text-align: center;
	border-radius: 100%;
	border: medium none;
	padding-left: 1.3rem;
}

#words {display: none;}
#words .score {
	background: #F0F5F9;
	color: #1E2022;
	font-size: 1.5rem;
	margin: 0;
	padding: 0.2rem 0;
	font-family: "PT Sans Narrow";
}
#words .score strong {
	font-family: "PT Sans Narrow";
}
#words .score .used-word {}
#words .score .total-word {}
#word-singular {
	margin: 0;
	font-size: 3rem;
	font-family: "PT Sans Narrow";
	font-weight: bold;
	padding: 30% 0;
	padding-bottom: 1rem;
	color: #1E2022;
}

.word-datas {
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	/*color: #C9D6DF;*/
	color: #52616B;
}
.word-datas li {margin-bottom: 1rem;list-style: none;}
.word-datas li span {}
.word-datas li span:first-child {margin-right: 0.5rem;}
.word-datas li span i {}
.word-datas .word-plural {
	font-style: italic;
	font-family: "PT Sans Narrow";
	margin-top: 0rem;
	margin-bottom: 3rem;
	color: #52616B;
}
.word-datas .word-info {}
.word-datas .word-translate {margin-bottom: 0;}

@media (min-width: 992px) {
	#word-singular {padding: 10% 0;}
	.word-datas .word-plural {margin-bottom: 0.4rem;}
	.word-datas li {margin-bottom: 0.4rem;}
}

footer.game-screen {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 1rem;
	/*display: none;*/
}

#answer-buttons {display: none;}

.answer-buttons {}

.der {color: #0084FD;}
.die {color: #DB1013;}
.das {color: #08B83C;}

.answer-button {
	border: medium none;
	font-weight: bolder;
	width: 6rem;
	margin: 0 0.5rem;
	padding: 1.6rem 0;
	border-radius: 100%;
	font-family: "PT Sans Narrow";
	font-size: 1.8rem;
}
.answer-button:hover {}
.answer-button.der {
	color: #fff;
	background-color: #0084FD;
}
.answer-button.der:hover {}
.answer-button.die {
	color: #fff;
	background-color: #DB1013;
}
.answer-button.die:hover {}
.answer-button.das {
	color: #fff;
	background-color: #08B83C;
}
.answer-button.das:hover {}


#result {
	background: #292929;
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	color: #fff;
}
#result h2 {
	margin: 0;
	margin-top: 2rem;
	font-size: 8rem;
}
#result ul {
	margin: 0;
	padding: 0;
	margin-top: 1rem;
	font-family: "PT Sans Narrow";
}
#result ul li {list-style: none;font-size: 2rem;margin-bottom: 1rem;}
#result ul li.score-words {}
#result ul li.score-words strong {}
#result ul li.score-words .score-used-word {}
#result ul li.score-words .score-total-word {}
#result ul li.percentage {font-size: 4rem;}
#result ul li.percentage strong {}
#result ul li:last-child {}
#result ul li:last-child a {text-align: center;text-transform: uppercase;color: #FFF;/* background: #C9D6DF; */display: block;/* color: black; */padding: 1.5rem 0;}
#result ul li:last-child a i {
    font-size: 3rem;
    border: 0.3rem solid #FFF;
    padding: 1rem 1.1rem;
    border-radius: 100%;
}
#result ul li:last-child a span {display: block;text-align: center;}