*, *:before, *:after {
  transition: 0.3s all cubic-bezier(0.4, 0, 1, 1); }
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #EEE;
}
/*@media only screen and (max-width: 320px) {*/

   body {
      font-size: 2em;
      margin: 0;
   }

/*}*/

.game-screen {
    text-align: center;
    max-width: 100%;
}

header.game-screen {}
header.game-screen h1 {
    margin: 0;
    font-weight: bold;
    /*font-size: 16px;*/
}
header.game-screen h1 span {}

#play {
    font-size: 3em;
    position: absolute;
    top: 40%;
    left: 33.3%;
    width: 33.3%;
    background: transparent;
    border: 0.1em solid #9b59b6;
    padding: 0;
    cursor: pointer;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 100%;
    padding-left: 3%;
}
#play i {
  color: #9b59b6;
}
#play:hover {
  background: #9b59b6;
}
#play:hover i {}

#words {
    text-align: center;
    padding: 50px 0;
    max-width: 100%;
}
#word-article {display: none;}
#word-singular {
    font-weight: bold;
    font-size: 3.5em;
    margin: 5% 0;
    font-family: "Montserrat", arial, sans-serif;
    /*text-shadow: 0em 0em 1em rgba(255,255,255,1);*/
    text-shadow: 1px 1px 5px rgba(255,255,255,1), 1px 1px 50px rgba(255,255,255,1);
}

.word-datas{
  margin: 0;
  list-style: none;
  padding: 0;
}
.word-datas li{
    padding: 0.5em 0;
    font-size: 1.5em;
}
.word-datas li span{}
.word-datas li span:first-child{
    font-weight: bold;
    margin-right: 5px;
}
.word-datas li span:last-child{
    font-style: italic;
    color: #444;
    font-family: "Montserrat", arial, sans-serif;
    letter-spacing: -0.08em;
}
.word-datas li.word-info{}
.word-datas li.word-plural{}
.word-datas li.word-translate{}

#answer-buttons {}
#answer-buttons button {
    width: 33.3%;
    font-family: "Montserrat", arial, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 1.5em;
    line-height: 1;
    cursor: pointer;
    padding: 10% 2%;
    /*border: 2px solid #ccc;*/
    border: none;
    /* letter-spacing: 1.5px; */
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    text-transform: uppercase;
}
#answer-buttons button#der {background: #0084ff;}
#answer-buttons button#der:hover {background: #0063B1;}
#answer-buttons button#die {background: #E81123;}
#answer-buttons button#die:hover {background: #af0606;}
#answer-buttons button#das {background: #09b83e;}
#answer-buttons button#das:hover {background: #10893E;}

footer.game-screen {
    position: fixed;
    width: 100%;
    bottom: 0;
}



/* for start hidden*/
#words, #answer-buttons {display: none;}
