html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-size: 14px;
  line-height: 1.42857143;
  /*color: #fff;*/
  background-color: #FEFEFE;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
[role="button"] {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}


header#header {}
#header .status {}
#header .status ul {}
#header .status .result {}
#header .status .result p {}
#header .status .result input {}

main {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

#words {
  background: #fff;
  color: #1d1d1d;
  padding: 50px 0;
}
#words section, nav {
  /*width: 50%;*/
  margin: 0 auto;
}
#words .status {}
#words #word-platz {
  margin: 0;
  font-family: "Montserrat", arial, sans-serif;
  font-size: 52px;
  font-weight: bolder;
  text-transform: capitalize;
}
#words .wp-result {}
#words ul {
    margin: 0;
    padding: 0;
    font-size: 18px;
    padding-bottom: 25px;
}
#words ul li {
    list-style: none;
    padding: 1.5% 0;
}
#words ul li span {
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
}
#words ul li i {}
#words ul li .wp-info,
#words ul li .wp-plural,
#words ul li .wp-translate {display: inline-block;color: #515151;font-style: italic;}
#words ul li .wp-info {}
#words ul li .wp-plural {
}
#words ul li .wp-translate {}

#temp {display: none;}

#buttons {}
#buttons button {
    width: 33.3%;
    font-family: "Montserrat", arial, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 28px;
    line-height: 1;
    cursor: pointer;
    padding: 5% 2%;
    /*border: 2px solid #ccc;*/
    border: none;
    /* letter-spacing: 1.5px; */
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
#buttons button:hover {}
#buttons button#der {background: #0084ff;}
#buttons button#der:hover {background: #0063B1;}
#buttons button#die {background: #E81123;}
#buttons button#die:hover {background: #af0606;}
#buttons button#das {background: #09b83e;}
#buttons button#das:hover {background: #10893E;}